<!DOCTYPE html>
<html>
  <head>
    <title>Données</title>
  </head>
  <body>
    <h1>Enter Data</h1>
    <form method="POST" action="{{ url_for('submit_form') }}">
      <label for="squareMeters">Nombre de mètres carrés:</label>
      <input type="number" id="squareMeters" name="squareMeters"><br>

      <label for="numberOfRooms">Nombre de pièces:</label>
      <input type="number" id="numberOfRooms" name="numberOfRooms"><br>

      <label for="floors">Nombre d'étages':</label>
      <input type="num" id="floors" name="floors"><br>

      <label for="cityCode">Code municipal:</label>
      <input type="text" id="cityCode" name="cityCode"><br>

      <label for="cityPartRange">CityPartRange:</label>
      <input type="num" id="cityPartRange" name="cityPartRange"><br>

      <label for="numPrevOwners">Nombre de bailleur précédent:</label>
      <input type="num" id="numPrevOwners" name="numPrevOwners"><br>

      <label for="made">Année de fabrication:</label>
      <input type="number" id="made" name="made" min="1900" max="2099" step="1" value="2016"><br>


      <label for="basement">mètre carré du rez-de-chaussée:</label>
      <input type="num" id="basement" name="basement"><br>

      <label for="attic">Mètre carré du grenier:</label>
      <input type="num" id="attic" name="attic"><br>

      <label for="garage">Mètre carré du garage:</label>
      <input type="num" id="garage" name="garage"><br>

      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
    </form>
  </body>
</html>
